<p>
<label for="feedback_type">Feedback Type:</label>
<% [ 'comment', 'bug_report', 'change_request', 'new_feature' ].each do |f| %>
  <%= radio_button_tag 'feedback_type', f, :feedback_type == f %>
  <%= label_tag "feedback_type_#{f}", f.humanize %>
<% end %>
</p>

