<div id="news">
  <h1>Club News</h1>

	<% @newses.each do |news| %>

		<h2><%= news.title %>&nbsp;&#9830;&nbsp;Posted on:&nbsp;<%= news.created_at %></h2>
		<div id="item_body">
		<p><%= news.entry %></p>
    </div>
	<% end %>

</div>

