@CHARSET "UTF-8";

/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    andy budd
email:     info@andybudd.com
website:   http://www.andybudd.com/
-----------------------------------------------------------------------------*/

/* =General
-----------------------------------------------------------------------------*/


/* Remove padding and margin */
* {
  margin: 0;
	padding: 0;
}

/* Put it back on certain elements */
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, fieldset, table, ul {
  margin: 0.25em 0;
}

/* Class for clearing floats */
.clear {
	clear:both;
}


/* Remove border around linked images */
img {
	border: 0;
}

/* =Typography
-----------------------------------------------------------------------------*/

body {
	background-color:	#333;
	margin-top:			25px;
	min-width:			1200px;
	font: 62.5%/1.6 "Lucida Grande", "Lucida Sans", "Trebuchet MS", Tahoma, Verdana, sans-serif;
	text-align:			center;
	color:					#333;
	}

#wrapper {
	background-color:	#fff;
	width:				1180px;
	margin:				0 auto;
	text-align:			left;
	padding:	0.5em;
	background:	url(../images/pv_background.png);
}

#home-wrapper {
	background-color:	#fff;
	width:				1180px;
	margin:				0 auto;
	text-align:			left;
	padding:	0.5em;
}

#sponsor_banner{
	width:				100%;
	margin: 0;
	padding-bottom:	1em;
}

#sponsor_banner ul li{
	list-style:	none;
}

#header {
	width:				100%;
	height:	250px;
	text-align:			left;
    /*border-bottom:	solid 3px #de1800;*/
    margin-bottom:  1em;
}

#home-header {
	width:				100%;
	height:	250px;
	text-align:			left;
    /*border-bottom:	solid 3px #de1800;*/
    margin-bottom:  1em;
    background:	url(../images/pv_background.png);
}

#header_1{
	/*background-color:	#De1800;*/
	width:	20%;
	height:	250px;
	text-align:	center;
	float:	left;
}

#header_main{
	color:	#000;
	width:	60%;
	height:	250px;
	text-align:	left;
	float:	left;
}

#header_2{
	/*background-color:	#De1800;*/
	margin: 1em;
	padding:    0;
	height:	250px;
	text-align:	center;
	float:	right;
}

#club_logo{
	margin-top:	1em;
}

#club-mission{
    color:      #fff;
    background:	url(../images/top_collage.png) no-repeat;

}

#club-mission p{
	font-size:	1.5em;
	font-family:	Arial, Arial, Helvetica, sans-serif;
	font-style:	italic;
	font-weight:	bold;
}

#club_dates{
	font-size: 2em;
}

#search{
	float:  right;
}

#main{
	width:	100%;
	float:	left;

}

#home-main{
	width:	100%;
	float:	left;
	background:	url(../images/pv_group_photo.png) no-repeat;
}

#sidebar{
	width:	23%;
	margin:	0.5em;
	padding: 0.5em;
	float: left;

}

#main_content{
	/*border-left:	solid 3px #de1800;*/
	width:	69%;
	margin:	1em;
	padding:	0 0 0 1%;
	float: left;
	text-align:	left;
	/*border:	solid 1px;*/
}

#top, #middle, #bottom{
	width: 100%;
	float:	left;
	text-align:	left;
}

#club_meeting{
	float:	left;
	width:	48%;
}

#special_events{
	float:	right;
	width:	48%;
}

#video-player{
    height: 250px;
    width:  275px;
    background:	url(../images/pv_home.png) no-repeat left top;
}

#podium{
    height: 400px;
    width:  275px;
}

#club_meeting, #top_news, #special_events,
#announcements, #cool-stuff, #video-player, #podium{
    margin:    0 0 0.5em 0;
    padding:    0 0.5em 1.0em 0.5em;
    border-top:	solid 10px #de1800;
    border-left:	solid 1px #333;
    border-right:	solid 1px #333;
    border-bottom:	solid 1px #333;
}

#about .column_left{
	width: 9em;
}

#club_races ul li h4{
	text-decoration:	underline;
	font-style: italic;
}

#sponsors img{
	padding: 1em 0;
}

#main_content ul li{
	list-style: none;
}

#footer{
    /*margin-top: 1em;*/
    padding-top: 1em;
    /*border-top: solid 2px #de1800;*/
	text-align:	center;
}

#club_rides table tr td{
	border: 	none;
}

#sponsors h2, #club_rides h2, #club_races h2, #news h2{
	font: 	italic x-large bold;
	background-color: #c0c0c0;

}

#sponsors h3{
	font: 	italic large bold;
	background-color: #f93;
}

#item_body{
	min-height: 50px;
}

/* =Headings
-----------------------------------------------------------------------------*/

h1{
	font-size:			x-large;
	text-align:			left;
	padding:			0.5em 0;
	margin:				0.5em 0;
	/*background:     #de1800;*/
}

h2{
	font-size:			large;
	text-align:			left;
	padding:			0.25em 0;
	margin:				0.25em 0;
}

h3{
	font-size:			medium;
	text-align:			left;
	padding:			0.1em 0;
	margin:				0.1em 0;
}

h4{
	font-size:			small;
	text-align:			left;
	padding:			0;
	margin:				0;
}

#page-title h1{

}

#headline p{
    font-size:			medium;
	text-align:			left;
	font-style:         italic;
	margin:				0.1em 0;
	padding:			0.1em 0;
}

#club-mission h2{
    margin-top:    2em;

}


/* =Links
-----------------------------------------------------------------------------*/

/*


a{
	border-color: #fff !important;
	border-width: 0 0 1px 0 !important;
	color: #fff !important;
	text-decoration: none !important;
}

a:visited
{
		border-color: #660099 !important;
		color: #660099 !important;
}

a:focus, a:hover
{
		border-color: #ff0000 !important;
		color: #ff0000 !important;
}
*/

/* =Branding
-----------------------------------------------------------------------------*/

#club-colors{
    width:  100%;
    float:  left;
    margin: 1em -1em 0 0;
}

#red, #white, #black{
    height: 0.5em;
}

#red{
    background: #de1800;
}

#white{
    background: #fff;
}

#black{
    background: #000;
}

#links{

}


/* =Main Nav (top and bottom menu bars)
-----------------------------------------------------------------------------*/

#menu, #bottombar{

	width:				100%;
	float:				left;
	/*border-top:		  3px solid #de1800;*/
	/*border-bottom:	3px solid #de1800;*/
}

#menu ul, #bottombar ul{
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	list-style: none;
	text-transform: uppercase;
	float:  left;
	background: url(../images/navbarbg.png) repeat-x;
}

#menu ul li, #bottombar ul li{
  float: left;
}

#menu li a, #bottombar li a{
	display:	block;
	float:      left;
	padding:	0 2em;
	line-height:	2em;
	background:	url(../images/navbardivider.png) repeat-y top right;
	text-decoration:	none;
	color:	#fff;
	float:	left;
}

#menu ul a:hover, #bottombar ul a:hover{
	color:	#333;
}


/* =Secondary Nav
-----------------------------------------------------------------------------*/
/*
#hidden-nav{
    margin-top: 3em;
}

#hidden-nav ul{
    list-style: none;
}

#hidden-nav ul li a{
   background:	#333;
}
*/

#login-logout-links, #admin-home-link{
    float:  right;
}

/* =Main Content
-----------------------------------------------------------------------------*/




/* =Secondary Content
-----------------------------------------------------------------------------*/



/* =Header
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/



/* =Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opea 7 */
fieldset {
    border: 1px solid transparent;
}


/* =Tables
-----------------------------------------------------------------------------*/

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

th, td{
    vertical-align:     top;
    border:     none;
    padding:    0 1em;
}

/* =Notice
-----------------------------------------------------------------------------*/

#notice {
  border: 2px solid red;
  padding: 1em;
  margin: 2em 0;
  background-color: #f0f0f0;
  font: bold larger sans-serif;
}

/* =Listings
-----------------------------------------------------------------------------*/


#listing .list-line-even {
  background:   #fff;
}

#listing .list-line-odd {
  background:   #c0c0c0;
}

#listing .member-photo {
  width: 150px;
  height: 150px;
  padding:  0;
  background:   #de1800;
}

#listing table{
    background; #f93;
    width:  100%
	border: 0;
}

#listing table th{
	width: 150px;
}

#listing table td{
    width:  600px;
	padding: 1.0em;
}

