@CHARSET "UTF-8";

/*-----------------------------------------------------------------------------
Prototype Style Sheet (empty commented stylesheet)

version:   1.0
author:    andy budd
email:     info@andybudd.com
website:   http://www.andybudd.com/
-----------------------------------------------------------------------------*/

/* =General
-----------------------------------------------------------------------------*/


/* Remove padding and margin */


/* =Typography
-----------------------------------------------------------------------------*/

body {
    min-width:    2000px;


	}

#wrapper {
    width:  97%;
    margin:				0 auto;
	text-align:			left;
	padding:	0.5em;
}

#header{
    border-bottom:   solid 3px #f93;

}

#header_1{
	width:	205px;
	height:	250px;

}

#sidebar1{
	width:	250px;
	margin-left:	2em;
	padding:	5px;
/*	border-right:	solid 3px #f93; */
	float: left;
}

#sidebar1 ul li{
    list-style: none;
}

#main_content{
    border: none;
	min-height: 400px;
/*  border-left:	solid 3px #f93; */
}

#footer{
    border-top:   solid 3px #f93;
}




/* =Main Content
-----------------------------------------------------------------------------*/




/* =Secondary Content
-----------------------------------------------------------------------------*/



/* =Footer
-----------------------------------------------------------------------------*/



/* =Forms
-----------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opea 7 */



/* =Tables
-----------------------------------------------------------------------------*/

th, td{
    border:     1px solid black;
    padding:    0.5em;
}





/* =Misc 1
-----------------------------------------------------------------------------*/



/* =Misc 2
-----------------------------------------------------------------------------*/




/* =Headings
-----------------------------------------------------------------------------*/




/* =Links
-----------------------------------------------------------------------------*/




/* =Branding
-----------------------------------------------------------------------------*/




/* =Main Nav
-----------------------------------------------------------------------------*/






/* =Sub Nav
-----------------------------------------------------------------------------*/



/* =Main Content
-----------------------------------------------------------------------------*/




/* =Secondary Content
-----------------------------------------------------------------------------*/



/* =Footer
-----------------------------------------------------------------------------*/



/* =Forms
-----------------------------------------------------------------------------*/




/* =Tables
-----------------------------------------------------------------------------*/







/* =Misc 1
-----------------------------------------------------------------------------*/



/* =Misc 2
-----------------------------------------------------------------------------*/

