<div id="top_half">
	<div id="club_meeting">
		<%= render :partial => "clubmeeting" %>
	</div>
	<div id="special_events">
		<%= render :partial => "specialevents" %>
	</div>
</div>

<div id="bottom_half">
	<div id="top_news">
		<%= render :partial => "topnews" %>
	</div>
	<div id="announcements">
		<%= render :partial => "announcements" %>
	</div>
</div>

