<div id="top">
  <div id="announcements">
		  <%= render :partial => "announcements" %>
	  </div>
</div>

<div id="middle">
	<div id="club_meeting">
		<%= render :partial => "clubmeeting" %>
	</div>
	<div id="special_events">
		<%= render :partial => "specialevents" %>
	</div>
</div>

<div id="bottom">
	<div id="top_news">
		<%= render :partial => "topnews" %>
	</div>
</div>

