<h1><%=h Time.now.year %>&nbsp;Race Results</h1>

<table>
  <tr><th>Wins</th><td><%= placements(1) %></td></tr>
  <tr><th>Podiums</th><td><%= placements(3) %></td></tr>
  <tr><th>Top Tens</th><td><%= placements(10) %></td></tr>
</table>

