<div id="content">
  <div id="cool-stuff">
    <h1>Cool Stuff</h1>
    <p>... some cool stuff here ...</p>
  </div>

  <%= render :partial => "maincontents", :locals => {:contents => @contents }%>

</div>

