<h1>Club Documents and Forms</h1>
<div id="listing">
  <table>
  <% @documents.each do |doc| %>
    <% @current_document = doc %>
    <tr  class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><%=h link_to "Download" %></td>
      <td><%=h File.basename(doc) %></td>
    </tr>
  <% end %>
  </table>
</div>

