<h1>Club Documents and Forms</h1>
<div id="listing">
  <table>
  <% @documents.each do |doc| %>
    <% @current_document = doc %>
    <tr  class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <td><a href="../assets/docs/<%=h File.basename(doc) %>", target="_blank"><%=h File.basename(doc) %></a></td>
    </tr>
  <% end %>
  </table>
</div>

