<div id="sponsor_discounts">
	<h1>Sponsors Discounts Offered to Club Members</h1>

	<table>
  <tr>
    <th>Sponsor</th>
    <th>Discount</th>
  </tr>

<% @sponsor_discounts.each do |f| %>
  <tr>
    <td><%=h f.sponsor.name %></td>
    <td><%=h truncate(f.discount.gsub(/<.*?>/,''), :length => 40) %></td>

    <td><%= link_to 'Show', common_sponsor_discount_path(f) %></td>

  </tr>
<% end %>
</table>
</div>

