
  <div id="facebook">
    <%= image_tag("facebook.png", :size => "25x25") %>
  </div>
  <div id="twitter">
    <%= image_tag("twitter.png", :size => "25x25") %>
  </div>
  <div id="myspace">
    <%= image_tag("myspace.png", :size => "25x25") %>
  </div>

  <div id="rss">
    <%= image_tag("rssfeed.png", :size => "25x25") %>
  </div>

