<ul>
	<li><img src="../images/bianchi_logo_150.png" alt="Bianchi logo" /></li>
	<li><img src="../images/summit_logo_150.png" alt="Cyclepath logo" /></li>
	<li><img src="../images/edelman_logo_150.png" alt="Edelmano logo" /></li>
</ul>

